h3 {
    font-family: Segoe UI;
}

.container {
    background-color: #FFFFFF;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    font-family: Segoe UI;
}


.update-button {
    padding: .375rem 2rem;
    color: #fff;
    border: none;
    border-color: #ff8750;
    background-color: #ff8750;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}


.shadow {
    box-shadow: 0 .5rem 1rem #00000026 !important;
}
