h3 {
    font-family: Segoe UI;
}

.container-fluid {
    font-family: Segoe UI;
    font-weight: 400;
}

.table {
    margin: 0px;
}

.table thead {
    background-color: #e9ecef;
}

.table thead {
    font-weight: 500;
    font-size: 15px;
}
.table tbody tr {
    color : dimgray;
}

.Edit-button {
    padding: .375rem 1rem;
    color: #fff;
    border: none;
    border-color: #ff8750;
    background-color: #ff8750;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.Delete-button {
    padding: .375rem 1rem;
    color: #fff;
    border: none;
    border-color: #ff8750;
    background-color: #dc143c;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}
.shadow {
    box-shadow: 0 .5rem 1rem #00000026 !important;
}
